node_modules
.env
.keystone
.next
apps/**/dist
storybook-static
yarn-error.log
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
*storybook.log
*:Zone.Identifier

# cline cache
.cline/data/cache
.cline/data/db
.cline/data/sessions
.cline/data/logs
