
$link-color: teal;
$link-hover-color: green;
$link-active-color: red;
$link-visited-color: purple;

@import "../../../packages/design-system/src/styles/text/module";
@import "../../../packages/design-system/src/styles";