@use "../root/module" as root;
@use "functions" as f;

@mixin typography($font-size) {
  font-size: $font-size + root.$unit;
  line-height: f.calc-line-height(root.$line-height, $font-size);
  margin-top: f.calc-top-margin(root.$line-height, $font-size, root.$unit);
  margin-bottom: root.$line-height + root.$unit;
}
