@use "module" as text;
@use "../root/module" as root;

// headings

h1 {
  @include text.typography(text.$step-5);
}

h2 {
  @include text.typography(text.$step-4);
}

h3 {
  @include text.typography(text.$step-3);
}

h4 {
  @include text.typography(text.$step-2);
}

h5,
.text-large {
  @include text.typography(text.$step-1);
}

h6 {
  @include text.typography(text.$step-0);
}

// body

p,
ul,
ol,
dl {
  @include text.typography(text.$step-0);

  &:first-child {
    margin-top: 0;
  }
}

// inline text

small,
.text-small {
  @include text.typography(text.$step-small);
}

a {
  color: text.$link-color;
  text-decoration: none;

  &:hover {
    color: text.$link-hover-color;
  }

  &:active {
    color: text.$link-active-color;
  }

  &:visited {
    color: text.$link-visited-color;
  }

  &:hover,
  &:active {
    text-decoration: underline;
  }
}

.text-center {
  text-align: center;

  @each $size, $width in root.$breakpoints {
    @include root.respond-to($size) {
      &--#{$size} {
        text-align: center;
      }
    }
  }
}

.text-right {
  text-align: right;

  @each $size, $width in root.$breakpoints {
    @include root.respond-to($size) {
      &--#{$size} {
        text-align: right;
      }
    }
  }
}

.text-left {
  text-align: left;

  @each $size, $width in root.$breakpoints {
    @include root.respond-to($size) {
      &--#{$size} {
        text-align: left;
      }
    }
  }
}