@use "sass:math";
@use "sass:map";

// left off at moving stuff to root. ie lineheight, min/max fontsize and breakpoints
// due to import loop

// next step is to update the rest of the scss files to use root variables instead of text variables
// for those things

// typography scale in rem's
$scale: 1.2 !default;
$step-0: 1;
$step-1: $step-0 * $scale;
$step-2: $step-1 * $scale;
$step-3: $step-2 * $scale;
$step-4: $step-3 * $scale;
$step-5: $step-4 * $scale;
$step-small: math.div($step-0, $scale);

// Links
$link-color: inherit !default;
$link-hover-color: inherit !default;
$link-active-color: inherit !default;
$link-visited-color: inherit !default;
