@use "sass:map";
@use "sass:color";
@use "sass:meta";

$border-sizes: ();

@for $index from 1 through 3 {
  $size: $index * 1px;
  $key: $index * 100;
  $border-sizes: map.merge($border-sizes, ($key: $size));
}

$border-radius: 3px;
$border-radius-sides: (
  border-radius,
  border-top-left-radius,
  border-top-right-radius,
  border-bottom-right-radius,
  border-bottom-left-radius,
);
