@use "sass:map";
@use "sass:color";
@use "sass:meta";

$border-sizes: ();

@for $index from 1 through 3 {
  $size: $index * 1px;
  $key: $index * 100;
  $border-sizes: map.merge($border-sizes, ($key: $size));
}

$border-radius: ();

@for $index from 3 through 8 {
  $size: $index * 1px;
  $key: $index * 100;
  $border-radius: map.merge($border-radius, ($key: $size));
}
