@use "sass:math";
@use "module" as m;
@use "../../root/module" as root;
@use "../lang/module" as lang;

// space all around
@for $index from 0 through m.$num-of-space-units {
  $vertical-space: lang.map-deep-get(m.$vertical-space-sizes, $index);
  $horizontal-space: lang.map-deep-get(m.$horizontal-space-sizes, $index * 2);

  .m-#{$index} {
    margin: $vertical-space $horizontal-space;
  }

  .p-#{$index} {
    padding: $vertical-space $horizontal-space;
  }

  @each $bp, $width in root.$breakpoints {
    @include root.respond-to($bp) {
      .m-#{$index}--#{$bp} {
        margin: $vertical-space;
      }

      .p-#{$index}--#{$bp} {
        padding: $vertical-space;
      }
    }
  }
}

// x axis space
@each $key, $side in m.$horizontal-sides {
  @each $index, $size in m.$horizontal-space-sizes {
    .m#{$key}-#{$index} {
      margin-#{$side}: $size;
    }

    .p#{$key}-#{$index} {
      padding-#{$side}: $size;
    }

    @each $bp, $width in root.$breakpoints {
      @include root.respond-to($bp) {
        .m#{$key}-#{$index}--#{$bp} {
          margin-#{$side}: $size;
        }

        .p#{$key}-#{$index}--#{$bp} {
          padding-#{$side}: $size;
        }
      }
    }
  }
}

@each $index, $size in m.$horizontal-space-sizes {
  .mx-#{$index} {
    margin-left: $size;
    margin-right: $size;
  }

  .px-#{$index} {
    padding-left: $size;
    padding-right: $size;
  }

  @each $bp, $width in root.$breakpoints {
    @include root.respond-to($bp) {
      .mx-#{$index}--#{$bp} {
        margin-left: $size;
        margin-right: $size;
      }

      .px-#{$index}--#{$bp} {
        padding-left: $size;
        padding-right: $size;
      }
    }
  }
}

// y axis space
@each $key, $side in m.$vertical-sides {
  @each $index, $size in m.$vertical-space-sizes {
    .m#{$key}-#{$index} {
      margin-#{$side}: $size;
    }

    .p#{$key}-#{$index} {
      padding-#{$side}: $size;
    }

    @each $bp, $width in root.$breakpoints {
      @include root.respond-to($bp) {
        .m#{$key}-#{$index}--#{$bp} {
          margin-#{$side}: $size;
        }

        .p#{$key}-#{$index}--#{$bp} {
          padding-#{$side}: $size;
        }
      }
    }
  }
}

@each $index, $size in m.$vertical-space-sizes {
  .my-#{$index} {
    margin-top: $size;
    margin-bottom: $size;
  }

  .py-#{$index} {
    padding-top: $size;
    padding-bottom: $size;
  }

  @each $bp, $width in root.$breakpoints {
    @include root.respond-to($bp) {
      .my-#{$index}--#{$bp} {
        margin-top: $size;
        margin-bottom: $size;
      }

      .py-#{$index}--#{$bp} {
        padding-top: $size;
        padding-bottom: $size;
      }
    }
  }
}
