@use "sass:map";
@use "sass:math";
@use "../../root/module" as root;

$num-of-space-units: 12;
$horizontal-space-sizes: ();
$vertical-space-sizes: ();
$vertical-sides: (
  "t": top,
  "b": bottom,
);
$horizontal-sides: (
  "r": right,
  "l": left
);

@for $index from 0 through $num-of-space-units {
  $size: $index * math.div(root.$line-height, $num-of-space-units);
  $half-size: math.div($size, 2) * 1rem;
  $horizontal-space-sizes: map.merge($horizontal-space-sizes, ($index: $half-size));
}

@for $index from 0 through $num-of-space-units {
  $size: ($index * root.$line-height);
  $half-size: math.div($size, 2) * 1rem;
  $vertical-space-sizes: map.merge($vertical-space-sizes, ($index: $half-size));
}
