@use "sass:map";
@use "sass:color";
@use "sass:meta";

$contrast-ratios: (
  "text": (
    // https://www.w3.org/TR/WCAG22/#contrast-minimum
    "AA": (
      "normal": 4.5,
      "large": 3
    ),
    // https://www.w3.org/TR/WCAG22/#contrast-enhanced
    "AAA": (
      "normal": 7,
      "large": 4.5
    )
  ),
  // https://www.w3.org/TR/WCAG22/#non-text-contrast
  "ui": (
    "AA": (
      "normal": 3,
      "large": 3
    ),
  )
);
$black: #000;
$white: #fff;
$grayscale: ();

@for $index from 1 through 8 {
  $amount: $index * 10%;
  $key: $index * 100;
  $grayscale: map.merge($grayscale, ($key: color.mix($black, $white, $amount)));
}
