@use "../utils/lang/module" as lang;
@use "../utils/border/module" as border;
@use "../utils/color/module" as color;

// Buttons
$button-border-size: lang.map-deep-get(border.$border-sizes, 100);
$button-border-color: color.$black;
$button-border-style: solid;
$button-background-color: color.$white;
$button-border-radius: lang.map-deep-get(border.$border-radius, 200);
$button-border: $button-border-size $button-border-style $button-border-color;
$button-text-color: color.$black;
$button-hover-background-color: lang.map-deep-get(color.$grayscale, 100);
$button-active-background-color: lang.map-deep-get(color.$grayscale, 200);
$button-height: 3rem;
$button-padding: 0 1.5rem;

/* stylelint-disable selector-pseudo-class-no-unknown */
/* stylelint-disable property-no-unknown */
/* stylelint-disable property-case */
:export {
  buttonBorderSize: $button-border-size;
}
/* stylelint-enable */
