@use "variables" as v;
@use "functions" as f;

@mixin focus-ring(
  $ring-inset: true,
  $ring-offset-width: v.$focus-ring-offset-width,
  $ring-offset-color: v.$focus-ring-offset-color,
  $ring-color: v.$focus-ring-color
) {
  /*
    Provide basic, default focus styles.
  */
  &:focus {
    outline: inherit;
    transition: 0.25s box-shadow;
  }

  /*
    Optionally: If :focus-visible is supported on this
    platform, provide enhanced focus styles for keyboard
    focus.
  */
  &:focus-visible {
    $ring: f.focus-ring-shadow($ring-inset, $ring-offset-width, $ring-offset-color, $ring-color);

    box-shadow: $ring;
    outline: 1px solid transparent;
  }

  /*
    Remove default focus styles for mouse users ONLY if
    :focus-visible is supported on this platform.
  */
  &:focus:not(:focus-visible) {
    outline: none;
  }
}
