// focus ring

$focus-ring-opacity: 1;
$focus-ring-color: rgba(#000, $focus-ring-opacity);
$focus-ring-inset: inset;
$focus-ring-offset-width: 1px;
$focus-ring-offset-color: rgba(#fff, $focus-ring-opacity);
