.box {
  padding: 1.5rem 1rem;
  background-color: #eee;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box:nth-child(even),
.flex_item:nth-child(even) > .box {
  background-color: #d9d9d9;
}
